body {
    background-color: white;
    background-image: url('public\img\pattern.jpg');
    background-attachment: scroll;
}
nav {
    float: right;
    word-spacing: 10px;
    background-color: white;
}
h1 {
    text-align: center;
}
#article-list {
    float: center;    
}
h5 {
    color: white;
    text-align: center;
}
footer {
    background-color: black;
    float: center;
    padding: 10px;
    text-decoration: white;
}